body, html {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  margin: 0;
  padding: 0;
}

#timeline {
  border: 1px solid #ccc;
  padding: 10px;
}

.tweet {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.account-name {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 50px;
}

.content {
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
}

.heart {
  display: block;
  text-align: left;
}

.icon {
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

button {
  font-size: 20px;
  padding: 10px 20px;
}

.word {
  font-size: 40px;
  font-weight: bold;
}
